*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5ed281;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: rgb(106, 37, 9);
    background-color: #e3e0b0;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25 rem;
    background-color: #191913;
    border-radius:1rem ;
    border: none;
    color: #ffff;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25 rem;
    background-color: #191913;
    border-radius:1rem ;
    border: none;
    color: #ffff;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;

}

.msg-container{
    height: 30vmin;

}
.hide{
    display: none;
}

.o-symbol{
    color:#4a17f1;
}
.x-symbol
{
    color: #c71010 ;
}